@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* --- Color variables --- */
  :root {
    --black_900: #000000;
    --black_900_21: #00000021;
    --blue_gray_100_66: #cad2d566;
    --blue_gray_50: #eaedee;
    --blue_gray_500: #667481;
    --blue_gray_600: #54697;
    --blue_gray_800: #3a4347;
    --blue_gray_900: #282f35;

    /* --- Spacing variables --- */
    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 6px;
    --space-lg: 8px;
  }

  /* --- Custom form styles --- */
  [type="text"],
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="week"],
  textarea,
  select {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
  }

  /* Override default focus colors for Tailwind CSS forms */
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="search"]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: transparent;
    border-color: transparent;
  }

  [type="radio"]:focus,
  [type="checkbox"]:focus {
    --tw-ring-color: transparent;
  }
}

@layer components {
  /* --- Container CSS --- */
  .container-xs {
    @apply w-full mx-auto max-w-[1540px];
  }
}
